/**
 * Variables
 */

$font-family-edmondsans-regular: 'EdmondSans Regular', serif, sans-serif;
$font-family-edmondsans-medium: 'EdmondSans Medium', serif, sans-serif;
$font-family-edmondsans-bold: 'EdmondSans Bold', serif, sans-serif;
$font-family-jaapokki-regular: 'Jaapokki Regular', serif, sans-serif;
$font-family-jaapokki-enhance: 'Jaapokki Enhance', serif, sans-serif;
$font-family-jaapokki-subtract: 'Jaapokki Subtract', serif, sans-serif;
